<!doctype html>
<html>

<head>
  <title>code-mirror</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <script src="../webcomponentsjs/webcomponents-lite.js"></script>
  <link rel="import" href="../at-theme/at-theme.html" />
  <link rel="import" href="code-mirror.html" />
  <style>
    body {
      margin: 0;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
    }

    code-mirror {
      height: 50%;
      width: 100%;
    }
  </style>

</head>

<body>
  <h2>This is demo for code-mirror</h2>
  <div class="horizontal layout">
    <div class="flex-4"></div>
    <div class="flex-4">
      <code-mirror id="codeMirror" max-lines="0" required="true" label="single" mode="carbon" code-mirror">
      </code-mirror>      
    </div>
    <div class="flex-4"></div>
  </div>

  <script>
    document.addEventListener('WebComponentsReady', function () {
      var codeMirror = document.getElementById('codeMirror');
      //      console.log(codeMirror);

      var liquidMixedStr = '<div>\n' + 
        '    {% for item in items %}\n' + 
        '</div>\n' +
        '<style>\n' + 
        '  body {\n' +
        '    background: red;\n' + 
        '  }\n' + 
        '</style>\n'
        ;

        var liquidMixedStr2 = 
          '<div>asd fadfa sdf asdf asdf</div>\n'+
          '<div>asdfioasdf </div>\n'+
          '{% for item in items %}\n'+
          '\t<span>{{ item|capfirst, pera|escape }}</span>\n'+
          '\t<span>{{ item|capfirst, mika|escape }}</span>\n'+
          '{% endfor %}\n'+
          '<div>\n'+
            '\t<fieldset>\n'+
              '\t\t<legend></legend>\n'+
              '\t\t<ul>{% for item in items %} <li> {{title|capfirst}} </li> {% endfor %}  </ul>\n'+
            '\t</fieldset>\n'+
          '</div>\n'+
          '{# this is a comment section #}\n'+
          '<ul>\n'+
            '\t{# this is a comment section #}\n'+
          '</ul>\n'+
          '{% for item in items %}\n'+
          '\t<li>{{ item|capitalize }}</li>\n'+
          '{% endfor %}';

      var pureHtmlStr = '<div class></div>';
      var imgHtmlStr = '<img/>';
      var pureLiquid = 
        '<div></div>\n' + 
        '{% for item in items %}\n' + 
        '{{ ivan|capfirst }}\n';
      
      var liquidCommentsRecognized =
        '{# this is sparta! #}\n' +
        '{# this is sparta! #}';


      codeMirror.value = pureHtmlStr;
    });
  </script>
</body>

</html>
